.pagination {background: none;}
.listefilms,.formulaire_proposer_film {margin-left: 7em;margin-right: 7em;}
.formulaire_proposer_film {margin-top: 3em;}

.formulaire_jaime {float: right;margin-top: 0;}
.formulaire_jaime * {margin-top: 0;}
.formulaire_jaime .etoiles {display: block;float: right;margin-left: 10px;}
.formulaire_jaime form {clear:none;float: right;}
.formulaire_jaime .submit {color:#333;box-shadow: none;background: none;}

.page_sommaire .item.film.refuse .descriptif {color:#999;text-decoration: line-through;}
.page_sommaire .item .commenter {float: left;margin-left: 90px;}
.page_sommaire .item .action {float: right;}

.imdb {padding-left: 90px;}
.imdb img {float: left;margin-left: -90px;position: relative;display: inline;}
.imdb dt,.imdb dd {margin-bottom: 0;}
.imdb dl {margin-bottom: 0;}

.liste-items.films .item {list-style: none;}
.liste-items.films .formulaire_tagger {padding: 0;padding-left:90px; border: 0;background: none;margin-bottom: 1.5em;}
.liste-items.films .formulaire_tagger ul {list-style: none;margin: 0;padding: 0;}

h2.tag {padding: 2px 8px;padding-left:40px;background: #ddd url(img/tag-32.png) no-repeat 2px center;margin-right:5px; border-radius: 10px;display: inline-block;}

.page_article .imdb dt {display: none;}
.comments {margin-top: 3em;}
.liste-items.films .item .comments {padding-left: 90px;}
.liste-items.films .item .comments h2 {display: none;}
.liste-items.films .item .comments-items {list-style: none;margin-left: 0px;border-color: #ddd;}
.liste-items.films .item .comment-item {border-color: #ddd;}
.liste-items.films .item .comment-item .comment-meta .item {padding: 0;}

.box_mediabox {text-align: left;}
.box_mediabox .content-principal {max-width: 44em;margin-right: 20px;}
.box_mediabox .formulaire_forum {border: 0;padding: 0;margin-top: 1.5em;}
.box_mediabox .formulaire_forum fieldset.session_qui {display: none;}
.box_mediabox .formulaire_forum textarea {height: 7em;}