.pagination {background: none;}
.listefilms,.formulaire_proposer_film {margin-left: 7em;margin-right: 7em;}
.formulaire_proposer_film {margin-top: 3em;}
.liste-items.films .item {list-style: none;}
.liste-items.films .tags {padding-left: 90px;background: url(img/tag_red.png) no-repeat 70px top;min-height: 16px;}
.liste-items.films .tags .tag {display: block;float: left;padding: 2px;background: #eee;margin-right:5px; }
.liste-items.films .tags .notag {font-style: italic;color:#eee;}

.formulaire_jaime {float: right;margin-top: 0;}
.formulaire_jaime * {margin-top: 0;}
.formulaire_jaime .etoiles {display: block;float: right;margin-left: 10px;}
.formulaire_jaime form {clear:none;float: right;}
.formulaire_jaime .submit {color:#333;box-shadow: none;background: none;}

.page_sommaire .item.film.refuse .descriptif {color:#999;text-decoration: line-through;}
.page_sommaire .item .commenter {float: left;}
.page_sommaire .item .action {float: right;}

.imdb {padding-left: 90px;}
.imdb img {float: left;margin-left: -90px;position: relative;display: inline;}
.imdb dt,.imdb dd {margin-bottom: 0;}

.page_article .imdb dt {display: none;}
.comments {margin-top: 3em;}